version: "3.8"
services:
  db:
    image: postgres:12
    volumes:
      - dbdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-db}
      POSTGRES_USER: ${POSTGRES_USER:-testvnv}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-secret}
      PGUSER: ${POSTGRES_USER:-postgres}
      PGPASSWORD: ${POSTGRES_PASSWORD:-secret}
      PGDATABASE: ${POSTGRES_DB:-db}
    ports:
      - 127.0.0.1:${POSTGRES_PORT:-5432}:5432

  web:
    build:
      dockerfile: ./docker/Dockerfile
      context: ./
    command: bash ./run.sh
    ports:
      - 127.0.0.1:${WEB_PORT:-8080}:8080
    env_file: .env
    depends_on:
      - db

volumes:
  dbdata:
